
  {% csrf_token %}
  {{ form.non_field_errors }}
  <label for="id_title">{{ form.title.label }}:</label>
  <input type="text" name="title" id="id_title" class="form-control  {% if form.title.errors %}is-invalid{% endif %} mb-3" value="{{ product.title }}">
{% if form.errors %}
    <div class="invalid-feedback">
    {{ form.title.errors|join:"" }}
    </div>
{% endif %}
  <label for="id_description">{{ form.description.label }}:</label>
  <textarea name="description" id="id_description" class="form-control mb-3">{{ product.description }}</textarea>
  <label for="id_category">{{ form.category.label }}:</label><br/>
  <select name="category" id="id_category" class="form-select mb-3" required>
    {% for ctg in form.category.field.choices %}
      {% if ctg.0 == form.category.value %}
        <option value="{{ ctg.0 }}" selected>{{ ctg.1 }}</option>
      {% else %}
        <option value="{{ ctg.0 }}">{{ ctg.1 }}</option>
      {% endif %}
    {% endfor %}
  </select>
 <div class="mb-3">
    <label for="id_remainder">{{ form.remainder.label }}:</label>
    <input type="number" name="remainder" id="id_remainder" class="form-control {% if form.remainder.errors %}is-invalid{% endif %} mb-3" value="{{ product.remainder }}">
    {% if form.remainder.errors %}
      <div class="invalid-feedback">
        {{ form.remainder.errors|join:" " }}
      </div>
    {% endif %}
  </div>
<label for="id_price">{{ form.price.label }}:</label>
<input type="text" name="price" id="id_price" class="form-control {% if form.price.errors %}is-invalid{% endif %} mb-3" value="{{ product.price|floatformat:"-2" }}">
{% if form.price.errors %}
      <div class="invalid-feedback">
        {{ form.price.errors|join:" " }}
      </div>
    {% endif %}
<label for="id_img_url">{{ form.img_url.label }}:</label>
<input type="text" name="img_url" id="id_img_url" class="form-control {% if form.img_url.errors %}is-invalid{% endif %} mb-3" value="{{ product.img_url }}">
{% if form.img_url.errors %}
      <div class="invalid-feedback">
        {{ form.img_url.errors|join:" " }}
      </div>
    {% endif %}
