{% extends 'base.html' %}
{% block content %}
    {% load static %}
<hr>
    <form method="post">
    {% csrf_token %}
    <div class="container">
    <div class="row">
        <div class="col-sm-3">
            <img src="{{ product.img_url }}" alt="image_information" class="img-fluid mb-3" style="height: 200px; width: 250px">
        </div>
        <div class="col-sm-6 pl-sm-0">
            <h1>Product Title: {{ product.name }}</h1>
            <h5>Category: {{ product.category }}</h5>
            <h3>remainder: {{ product.remainder }}</h3>
            <h3>Price: {{ product.price }}$</h3>
            {% if product.description %}
                <p>Description: {{ product.description }}</p>

                {% else %}
                <p>Description: None</p>

            {% endif %}
        </div>
        <div class="btn-group">
                <a href="{% url 'edit-product' product.id %}" class="btn btn-primary me-3">Edit</a>
                <button type="submit" class="btn btn-danger" name="id" value="{{ product.id }}" onclick="return confirmDelete()">Delete</button>
            </div>
    </div>
    </div>
        </form>
    <hr>
<script src="{% static 'js/scripts.js' %}"></script>
{% endblock %}